<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-local-storage-retrieval" version="0.2.15-dev" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>LocalStorageRetrieval</name>

    <js-module name="LocalStorageRetrieval" src="www/LocalStorageRetrieval.js">
        <clobbers target="cordova.plugins.LocalStorageRetrieval" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="LocalStorageRetrieval">
                <param name="android-package" value="org.apache.cordova.plugin.LocalStorageRetrieval" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/LocalStorageRetrieval.java" target-dir="src/org/apache/cordova/plugin" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="LocalStorageRetrieval">
                <param name="ios-package" value="LocalStorageRetrieval" />
            </feature>
        </config-file>
        <source-file src="src/ios/LocalStorageRetrieval.m" />
    </platform>
</plugin>